**/*.log
**/*.md
**/*.php~
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.idea/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
**/Dockerfile
**/Dockerfile-Development
**/Thumbs.db
.editorconfig
.env.*.local
.env.test
.env.local
.env.local.php
.phpcs.cache
composer-require-checker.json
LICENSE
Makefile
phpcs.xml
phpstan.neon
phpstan-baseline.neon
phpunit.xml
bin/*
!bin/console
.github/
docker/
docs/
node_modules/
var/
tests/
